
<div *ngIf="ns_Highlight">
    <h2><span>Ns Highlight</span> {{ns_Highlight.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{ns_Highlight.title}}</span>
        </dd>
        <dt><span>Img</span></dt>
        <dd>
            <span>{{ns_Highlight.img}}</span>
        </dd>
        <dt><span>Link</span></dt>
        <dd>
            <span>{{ns_Highlight.link}}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
            <span>{{ns_Highlight.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{ns_Highlight.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ns-highlight/'+ ns_Highlight.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
